<!-- templates/movies/tv_show_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
</head>
<body>
    <h1>TV Shows</h1>
    <ul>
        {% for tv_show in tv_shows %}
            <li>
                <h2>{{ tv_show.title }}</h2>
                <p>{{ tv_show.description }}</p>
                <img src="{{ tv_show.poster.url }}" alt="{{ tv_show.title }}" style="width: 200px;">
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Go Back to Home</a>
</body>
</html>
